# Environment Variables (Contains private database credentials)
env.php

# macOS system files
.DS_Store

# IDE and Editor configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local logs
*.log
